<nav>
  <p><%= link_to "Home", root_path %></p>
  <p><%= link_to "Books", books_path %></p>
</nav>


<section class="welcome">
  <h1>Welcome to Book Club!</h1>
  <div class="welcome-info">
    <p>On our website, you can read reviews about your favorite (and not favorite books). Browse books and authors and read through other users' reviews to find your next favorite book!</p>
    <img src="https://changeincontext.com/wp/wp-content/uploads/2017/09/different-readers.jpg" alt="people enjoying books">
  </div>
</section>
