<header>
  <nav>
    <p><%= link_to "Home", root_path %></p>
    <p><%= link_to "Books", books_path %></p>
  </nav>
</header>


<section class="welcome">
  <h1>Welcome to Book Club!</h1>
  <div class="welcome-info">
    <p>On our website, you can read reviews about your favorite (and not favorite books). Browse books and authors and read through other users' reviews to find your next favorite book!</p>
    <img src="https://changeincontext.com/wp/wp-content/uploads/2017/09/different-readers.jpg" alt="people enjoying books">
  </div>
</section>


<section class="about-us">
  <p>The goal of our project was to get practice using MVC with Ruby on Rails. Our website has a database of books, authors, and reviews. The focus was on the many-to-many relationship functionality. As a user, you can add books, add reviews or peruse others additions. </p>
  <h4><%= link_to "Carrie Walsh's Github","https://github.com/carriewalsh" %></h4>
  <h4><%= link_to "Ethan Grab's Github","https://github.com/Stoovles" %></h4>
</section>
